
<header>
	<div>
		<%= link_to "GiveMeBite!", root_path, class: "logo" %>
		<%= form_tag root_path, {:method => :get ,:id => "findNear"} do %>
		  <input id="center" name="c" type="text" placeholder="搜尋中心點">
		  <input id="distance" type="number" min="0" max="500" name="d" placeholder="距離(km)">
		  <label class="fa fa-search" >
		  	<input type="submit" value="送出">
		  </label>
		<% end %>
		<nav>
			<ul class="menuBtn">
				<% if signed_in? %>				
					<li class="user "><%= link_to current_user.nickname, bite_path(current_user) %> <span>你好！</span></li>
				<% end %>

				<li class=""><%= link_to "首頁", root_path %></li>

				<% if signed_in? %>
					<li class=""><%= link_to "設定", settings_path %></li>
					<li class="signout_mobile ">
						<a data-method="delete" href="/signout" rel="nofollow"><span>出</span><span>登</span></a>
					</li>
					<li class="signout">
						<a data-method="delete" href="/signout" rel="nofollow"><span>登</span><span>出</span></a>
					</li>
				<% else %>
					<li class=""><%= link_to "登入", signin_path %></li>
					<li class=""><%= link_to "註冊", signup_path %></li>	
				<% end %>
			</ul>
			<div id="menuBtn"></div>
		</nav>
	</div>
</header>
<script>
	function open_menu(){
		$('.menuBtn').children('li').toggleClass('btnShow');
		$('.sidebar').children('.user').toggleClass('userInfoShow');
		$('.sidebar').children('.think').toggleClass('userInfoShow');
	};
	function move_menu(btn,click_x,click_y){
		clearInterval(mouse_down_time_interval);
		btn.prev('.menuBtn').addClass('moveing');

		var bodyTop = 0;
		if (typeof window.pageYOffset != "undefined") {
			bodyTop = window.pageYOffset;

		} else if (typeof document.compatMode != "undefined" &&
			document.compatMode != "BackCompat") {
			bodyTop = document.documentElement.scrollTop;
		} else if (typeof document.body != "undefined") {
			bodyTop = document.body.scrollTop;
		}

		$(window).on('touchmove',function(event){
    		event.preventDefault();//不讓他滾動。
			var e = event.originalEvent.touches[0];
			var right = $(window).width()-e.pageX-28-12;
			btn.parent('nav').css({
				"top":e.pageY-28-bodyTop,
				"right":right
			});
		});
		$(window).resize(function(e){
			if($(window).width()>1024){
				$('nav').attr('style','');
			};
		});
	}
	var mouse_down_time=0,mouse_down_time_interval;
	$('#menuBtn').on('touchstart',function(e){
		//console.log(e);
		var $menu=$(this);
		mouse_down_time=0;
		mouse_down_time_interval = setInterval(function(){
			mouse_down_time++;
			//console.log(mouse_down_time);
			// console.log($menu);
			if(mouse_down_time>=40){
				//move_menu($menu,e.offsetX,e.offsetY);
				move_menu($menu);
			}
		},10);
	});
	var istouchend=false;
	$('#menuBtn').on('touchend',function(){
		istouchend=true;
		clearInterval(mouse_down_time_interval);
		if(mouse_down_time<40){
			open_menu();
		}
		$(this).prev('.menuBtn').removeClass('moveing');
		$('body').removeAttr('style');
		$(window).unbind('touchmove');
	});

	$('#menuBtn').click(function(){
		if(!istouchend){
			open_menu();
		}
	});

</script>