<header>
	<div>
		<%= link_to "GiveMeBite!", root_path, class: "logo" %>
		<nav>
			<ul>
				<% if signed_in? %>				
					<li><%= link_to current_user.nickname, bite_path(current_user) %> 你好！</li>
				<% end %>

				<li><%= link_to "首頁", root_path %></li>

				<% if signed_in? %>
					<li><%= link_to "設定", settings_path %></li>
					<li><%= link_to "登出", signout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "登入", signin_path %></li>
					<li><%= link_to "註冊", signup_path %></li>	
				<% end %>

			</ul>
		</nav>
	</div>
</header>