<style>
	.socialBtn li{
		padding: 5px;
	}
	.socialBtn a{
		display: inline-block;
		background: #9fe690;
		color: #0e6012;
		padding: 10px;
	}
</style>
<div class="user">
	<div><%= image_tag("bgapple.jpg", alt: " ") %></div>
	<div>
		<div class="avatar" data-name="<%= @user.nickname %>" data-talk="<%= @user.about %>">
			<img src="<%= @user.avatar_url(:medium) %>" alt="">
		</div>
	</div>
	<div class="statusbtn">
		<ul>
			<li><i class="fa fa-heart" data-num="100"></i></li>
			<li><i class="fa fa-users" data-num="<%= @user.followed_count %>"></i></li>
			<li><i class="fa fa-cutlery" data-num="<%= @user.favorites.count %>"></i></li>
		</ul>
	</div>
</div>
<% if signed_in? %>
	<div class="socialBtn">
		<ul>
			<li>
				<% if !current_user.following?(@user) %>
					<a href="<%= follow_user_path(@user) %>" data-method="post" rel="nofollow"><i class="fa fa-link">加入關注</i></a>
				<% else %>
					<a href="<%= unfollow_user_path(@user) %>" data-method="post" rel="nofollow"><i class="fa fa-unlink">取消關注</i></a>
				<% end %>
			</li>
		</ul>
	</div>
<% end %>