<style>
	.socialBtn ul{
		padding: 0 5px;
	}
	.socialBtn li{
		padding: 5px 0 5px 0px;
		display: inline-block;
		width: 32%;
	}
	.socialBtn li .fa:before{
		margin-right: 5px;
	}
	.socialBtn a{
		display: inline-block;
		background: #9fe690;
		color: #0e6012;
		padding: 10px 0;
		width: 100%;
		text-align: center;
	}
	#facebook-share{
		background: #358fc9;
		color: #fff;
	}
</style>
<div class="user">
	<div><%= image_tag("bgapple.jpg", alt: " ") %></div>
	<div>
		<a href="<%= bite_path(@user) %>" class="avatar" data-name="<%= @user.nickname %>" data-talk="<%= @user.about %>">
			<img src="<%= @user.avatar_url(:medium) %>" alt="">
		</a>
	</div>
	<div class="statusbtn">
		<ul>
			<li><i class="fa fa-heart" data-num="<%= @user.heart_sum %>"></i></li>
			<li><i class="fa fa-users" data-num="<%= @user.followed_count %>"></i></li>
			<li><i class="fa fa-cutlery" data-num="<%= @user.favorites.size %>"></i></li>
		</ul>
	</div>
</div>
<div class="socialBtn">
	<ul>
		<% if signed_in? %>
			<% if current_user != @user %>
				<li>
					<% if !current_user.following?(@user) %>
						<a href="<%= follow_user_path(@user) %>" data-method="post" rel="nofollow"><i class="fa fa-link">加入關注</i></a>
					<% else %>
						<a href="<%= unfollow_user_path(@user) %>" data-method="post" rel="nofollow"><i class="fa fa-unlink">取消關注</i></a>
					<% end %>
				</li>
			<% end %>
			<li>
				<a href="<%= bite_path(current_user) %>"><i class="fa fa-paper-plane">我的頁面</i></a>
			</li>
		<% end %>
		<li>
			<a id="facebook-share" href="javascript:;"><i class="fa fa-facebook-square">分享此頁</i></a>
		</li>
	</ul>
</div>
<%= render 'shared/facebook_js' %>




