<style>
	.socialBtn li{
		padding: 5px 0 5px 5px;
		display: inline-block;
	}
	.socialBtn a{
		display: inline-block;
		background: #9fe690;
		color: #0e6012;
		padding: 10px;
	}
</style>
<div class="user">
	<div><%= image_tag("bgapple.jpg", alt: " ") %></div>
	<div>
		<a href="<%= bite_path(@user) %>" class="avatar" data-name="<%= @user.nickname %>" data-talk="<%= @user.about %>">
			<img src="<%= @user.avatar_url(:medium) %>" alt="">
		</a>
	</div>
	<div class="statusbtn">
		<ul>
			<li><i class="fa fa-heart" data-num="<%= @user.heart_sum %>"></i></li>
			<li><i class="fa fa-users" data-num="<%= @user.followed_count %>"></i></li>
			<li><i class="fa fa-cutlery" data-num="<%= @user.favorites.size %>"></i></li>
		</ul>
	</div>
</div>
<% if signed_in? %>
	<div class="socialBtn">
		<ul>
			<% if current_user != @user %>
				<li>
					<% if !current_user.following?(@user) %>
						<a href="<%= follow_user_path(@user) %>" data-method="post" rel="nofollow"><i class="fa fa-link">加入關注</i></a>
					<% else %>
						<a href="<%= unfollow_user_path(@user) %>" data-method="post" rel="nofollow"><i class="fa fa-unlink">取消關注</i></a>
					<% end %>
				</li>
			<% end %>
			<li>
				<a href="<%= bite_path(current_user) %>"><i class="fa fa-paper-plane">我的頁面</i></a>
			</li>
			<li>
				<!-- <div class="fb-share-button" data-href="<%= request.url %>" data-layout="button_count"></div> -->
				<div class="fb-like" data-href="<%= request.url %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
			</li>
			<li>
				<a href="javascript:;" id="facebook-share">testMe</a>
			</li>
		</ul>
	</div>
<% end %>






<div id="fb-root"></div>
<script>
window.fbAsyncInit = function () {

    $('#facebook-share').click(function () {
        FB.ui({
            method: 'feed',
            link: document.URL,
            caption: 'http://givemebite.me',
        }, function (response) {
        	console.log(response)
            if (response === null) {
                console.log('post was not shared');
            } else {
                console.log('post was shared');
            }
        });
    });
};
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  // js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=1505138316410533&version=v2.0";
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>





