<% @favorities.each do |favority| %>
	<li>
		<a href="/favorites/<%= favority.id %>">
			<div class="imgShadow"><%= image_tag favority.pic.url(:original) %></div>
			<p><i class="bullhorn fa fa-bullhorn"></i>
				<%= favority.msg %>
				<span class="address"><%= "- #{favority.address}" unless favority.address.blank? %></span>
			</p>
			<span class="postTime fa fa-calendar-o">&nbsp;&nbsp;<%= favority.created_at.strftime("%F") %></span>
			<div class="socialInfo">
				<span class="fa fa-heart">&nbsp;&nbsp;<%= favority.likes.size %></span>
				<span class="fa fa-comments">&nbsp;&nbsp;<%= favority.comment_sum  %></span>
			</div>
		</a>
	</li>
<% end %>