<% provide(:title, "咬我啊") %>
<% content_for :jsCall do %>
  googleMap({
	user_id:0, center:'<%= params[:c] %>', distance:'<%= params[:d] %>', near:'<%= params[:near] %>', from:'<%= params[:from] %>'
  });
<% end %>
<% provide(:jsCall, "contentResizeIndex();") %>
<%= render 'shared/meta_og' %>


<style>
	.box{
		text-align: center;
	}
	.box .mapBox{
		width: 100%;
		height: 450px;
		background: url('/assets/loading.gif') no-repeat center;
	}
	.box .mapBox #map-canvas{
		width: 100%;
		height: 100%;
	}
	.box li{
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px dashed #888;
	}
	.index_sidebar{
		width: 250px;
		display: inline-block;
	}
	.index_sidebar .box{
		border-radius: 1px;
	}
	.index_sidebar .box.fb .fb-like{
		display: inline-block;
		vertical-align: middle;
	}
	.index_sidebar .box.fb .fb-activity{
		margin-top: 10px;
	}
	.index_content{
		background: #fff;
		padding: 10px;
		width: 670px;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px; 
	}
	.index_content div h3{
		background: #e9a882;
		color: #fff;
		width: 130px;
		padding: 8px;
		font-size: 1.8rem; 
		position: relative;
		margin-bottom: 10px;
	}
	.index_content div h3:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border: 20px solid #000;
		border-color: transparent #fff transparent transparent;
		position: absolute;
		right: 0;
		top: 0;
	}
	.index_content div h3 .fa{
		font-size: 2.2rem;
		margin-right: 5px;
		text-shadow: 0 0 2px #fff;
	}
	.index_content div ul li{
		display: inline-block;
		text-align: center;
		margin:0 20px 20px 0;
	}
	.index_content div ul li a{
		text-decoration: none;
	}
	.index_content div ul li span{
		display: inline-block;
		font-size: 1.5rem;
		color: #666;
		position: relative;
	}
	.index_content div ul li span:after{
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: rgba(50,50,50,.3);
		box-shadow: 0 0 3px rgba(50,50,50,.3);
		border-radius: 50%;
	}
	.index_content div ul li .userImg{
		border:5px solid #fff; 
		width: 120px;
		height: 120px;
		box-shadow: 0 0 5px #aaa;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 5px;
		transition: .6s;
	}
	.index_content div ul li .userImg:hover{
		border-radius: 0;
	}
	.index_content div ul li .userImg img{
		width: 100%;
		height: 100%;
	}
	.index_content .topFavorites h3{
		background: #ff424a;
	}
	.index_content .topFavorites span{
		color: #ff4341;
	}
	.index_content .topFavorites span:after{
		margin-top: 5px;
	}
	.index_content .topFavorites span .fa{
		margin-right: 5px;
	}
</style>
<div class="indexWrap">
	<div class="box mapall">
		<div class="mapBox">
			<div id="map-canvas" class="map-canvas"  onselectstart="return false;"></div>
		</div>
	</div>
	<div class="index_content">
		<div class="topUsers">
			<h3><i class="fa fa-child"></i>今日之星</h3>
			<ul>
				<% @users.each do |user| %>
					<li>
						<a href="<%= bite_path(user) %>">
							<div class="userImg"><img src="<%= user.avatar_url(:medium) %>" alt=""></div>
							<span><%= user.nickname %></span>
						</a>
					</li>
				<% end %>
			</ul>

		</div>
		<div class="topFavorites">
			<h3><i class="fa fa-star"></i>鄰近美食</h3>
			<div class="tmy_loading" id="tmy_loading">
				<ol>
					<li></li><li></li><li></li><li></li><li></li>
				</ol>
			</div>
			<ul>
			</ul>
		</div>
	</div>
	<div class="index_sidebar">
		<div class="box fb">
			你的推薦,是我進步的動力! &nbsp;
			<div class="fb-like" data-href="<%= root_url %>" data-layout="box_count" data-action="recommend" data-show-faces="true" data-share="false"></div><br/>
			<div class="fb-activity" data-site="<%= root_url %>" data-width="240" data-action="likes, recommends" data-colorscheme="light" data-header="true"></div>
			<%= render 'shared/facebook_js' %>
		</div>
		<div class="box">
			<iframe src="http://54.64.62.83/api/adopts" width="100%" height="400" frameborder="0" id="adopt_wow"></iframe>
		</div>
	</div>
</div>
