<% provide(:title, "GiveMeBite - #{@user.nickname}") %>
<% content_for :jsCall do %>
  googleMap({
	user_id:<%= @user.id %>, center:'<%= params[:c] %>', distance:'<%= params[:d] %>', near:'<%= params[:near] %>', from:'<%= params[:from] %>'
  });
<% end %>
<% provide(:jsCall, "contentResize();isScrolledIntoView_index(#{@user.id});") %>
<%= render 'shared/meta_og' %>

<%= render 'shared/sidebar' %>
<div class="content">
	<div class="mapBox">
		<div id="map-canvas" class="map-canvas"  onselectstart="return false;"></div>
	</div>
	<div class="favorite">
		<%= render 'shared/content_subheading' %>
		<ul class="favoriteList medium">
			<% @favorities.each do |favority| %>
				<li>
					<a href="/favorites/<%= favority.id %>">
						<div class="imgShadow"><%= image_tag favority.pic.url(:original) %></div>
						<p><i class="bullhorn fa fa-bullhorn"></i>
							<%= favority.msg %>
							<span class="address"><%= "- #{favority.address}" unless favority.address.blank? %></span>
						</p>
						<span class="postTime fa fa-calendar-o">&nbsp;&nbsp;<%= favority.created_at.strftime("%F") %></span>
						<div class="socialInfo">
							<span class="fa fa-heart">&nbsp;&nbsp;<%= favority.likes.size %></span>
							<span class="fa fa-comments">&nbsp;&nbsp;<%= favority.comment_sum  %></span>
						</div>
					</a>
				</li>
			<% end %>
		</ul>
		<div id="loading">
			<div class="tmy_loading" id="tmy_loading" style="height: 100px;">
				<ol>
					<li></li><li></li><li></li><li></li><li></li>
				</ol>
			</div>
		</div>
	</div>
</div>
