<% provide(:title, "GiveMeBite - #{@user.nickname}") %>
<% provide(:jsCall, "googleMap(#{@user.id});contentResize();") %>

<%= render 'shared/sidebar' %>
<div class="content">
	<div class="mapBox">
		<div id="map-canvas" class="map-canvas"  onselectstart="return false;"></div>
	</div>
	<div class="favorite">
		<%= render 'shared/content_subheading' %>
		<ul class="favoriteList big">
			<% @favorities.each do |favority| %>
				<li>
					<div class="imgShadow"><%= image_tag favority.pic.url(:original) %></div>
					<p><i class="bullhorn fa fa-bullhorn"></i>
						<%= favority.msg %>
						<span class="address"><%= "- #{favority.address}" unless favority.address.blank? %></span>
					</p>
					<span class="postTime fa fa-calendar-o">&nbsp;&nbsp;<%= favority.created_at.strftime("%F") %></span>
				</li>
			<% end %>
		</ul>
	</div>
</div>